{% extends "layout.html" %}
{% set pagename = "Events" %}
{% block title %}Events{% endblock %}

{% block head %}
<script src="static/js/d3.min.js"></script> 
<script src="static/js/d3.layout.min.js"></script> 
<script src="static/js/rickshaw.js"></script>  
{% endblock %}

{% block content %}
<div class="row-fluid">

  <div class="span3">
    <div class="well">
      <h4>Event Information</h4>
      Total number of active events: <span id="numOfEvents">0</span><br />
      <br />
      Other information:<br />
      <div id="eventInfo"></div>
    </div>
  </div>


  <div class="span9">
    <div class="well">
      <h4>Events List</h4>
      <table id="events">
        <thead>
          <tr>
            <th>Event ID</th>
            <th>Router IP</th>
            <th>Type</th>
            <th>Status</th>
            <th>Message</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Time Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/events.js"></script>
<script src="static/js/eventGraph.js"></script>
{% endblock %}