{% extends "layout.html" %}
{% set pagename = "Events" %}
{% block title %}Events{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    <div class="well">
      <table id="events">
        <thead>
          <tr>
            <th>Event ID</th>
            <th>Router IP</th>
            <th>Type</th>
            <th>Status</th>
            <th>Message</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Time Submitted</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/events.js"></script>
{% endblock %}