<!doctype html>
<html>
  
  <head>
    <title>Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/jquery.dataTables.css"> 
    <link rel="stylesheet" href="static/css/jquery.dataTables_themeroller.css"> 
  </head>
  
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Group Lima</a>
          <div class="navbar-content">
            <ul class="nav">
              <li class="active">
                <a href="#">Dashboard</a> 
              </li>
              <li>
                <a href="/routers">Routers</a> 
              </li>
              <li>
                <a href="#">Server information</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <ul class="nav  nav-pills nav-stacked">
            <li class="active">
              <a href="#">Dashboard</a> 
            </li>
            <li>
              <a href="#">Analysis status</a> 
            </li>
            <li>
              <a href="#">Problems</a> 
            </li>
            <li>
              <a href="#">Help</a> 
            </li>
          </ul>
        </div>
        <div class="span9">

              <div class="alert alert-error">
                <button type="button" class="close">×</button>
                <b>Alert! </b><span class="alertmessage"></span></div>

          <div class="row-fluid">
            <div class="span9">
              <div class="well">
                <table id="events">
                  <thead>
                  <tr>
                    <th>Event ID</th>
                    <th>Router IP</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Message</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Time Submitted</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                  <td>Loading...</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="static/js/jquery.dataTables.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script>


      $.getJSON("/get?id=events", function(data){
        console.debug("INITAL GET", data)


      $('#events').dataTable( {
        "aaData": data,
        "aoColumns": [
            { "sTitle": "Event ID" },
            { "sTitle": "Router IP" },
            { "sTitle": "Type" },
            { "sTitle": "Status"},
            { "sTitle": "Message"},
            { "sTitle": "Start Time"},
            { "sTitle": "End Time"},
            { "sTitle": "Time Submitted"}
        ]
    } );




      });

      $(document).ready(function() {
        //consider putting sse and other load stuff here
      } );

      //SSE (server side events - push) - CURRENTLY ONLY WORKS ON ALL BROWSERS EXCEPT IE - will use polyfill later
      function sse() {
        var source = new EventSource('/stream?channels=events');
        source.onmessage = function(e) {
          console.log("NEW MESSAGE: ", JSON.parse(e.data))
          
          if(typeof JSON.parse(e.data) === 'object'){
            console.log("ADDED NEW ROW");
            $('#events').dataTable().fnAddData(JSON.parse(e.data));
          }

          //$('#packet-count').text(data.count); //update the packet count from json info
          //$('.tablelist').text(data.tables); //update the table list from json info
        };
      } sse();

      //show alert when called
      function show_alert(msg) {
        $('.alert .alertmessage').text(msg);
        $('.alert').show();
      }

      //hide alert when the close button is clicked
      $('.close').click(function(){
        $('.alert').hide();
      })
    </script>
  </body>
</html>