<!doctype html>
<html>

<head>
  <title>{% block title %}{% endblock %} - Lima</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <link rel="stylesheet" href="static/css/bootstrap-responsive.css">
  <link rel="stylesheet" href="static/css/jquery.dataTables.css"> 
  <link rel="stylesheet" href="static/css/jquery.dataTables_themeroller.css"> 
  <link rel="stylesheet" href="static/css/rickshaw.css"> 
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="static/css/DT_bootstrap.css">-->
  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="static/css/main.css">
  {% block head %}
  {% endblock %}

</head>

<body>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Lima Web UI</a>
        <div class="navbar-content">
          <ul class="nav">
            <li {% if pagename == "Dashboard" %}class="active"{% endif%} >
              <a href="/"><i class="icon-home icon-white"></i> Dashboard</a> 
            </li>
            <li {% if pagename == "Routers" %}class="active"{% endif%} >
              <a href="/routers"><i class="icon-tasks icon-white"></i> Routers</a> 
            </li>
            <li {% if pagename == "Events" %}class="active"{% endif%} >
              <a href="/events"><i class="icon-star icon-white"></i> Events</a> 
            </li>
            <li {% if pagename == "Status" %}class="active"{% endif%} >
              <a href="/status"><i class="icon-cog icon-white"></i> Status</a> 
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <!--<div class="span2">
        <ul class="nav  nav-pills nav-stacked">
          <li class="active">
            <a href="/">Dashboard</a> 
          </li>
          <li>
            <a href="/routers">Routers</a> 
          </li>
          <li>
            <a href="/events">Events</a> 
          </li>
        </ul>
      </div>-->
      <div class="span12"> <!-- changed from span9 -->
        <div class="alert alert-error">
          <button type="button" class="close">×</button>
          <b>Alert! </b><span class="alertmessage"></span>
        </div>
        {% block content %}
        <div class="row-fluid">
          <div class="span12">
            <div class="well">
              Default content template
            </div>
          </div>
        </div>
        {% endblock %}

      </div>
    </div>
  </div>

  <script src="static/js/jquery.dataTables.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <!--<script src="static/js/DT_bootstrap.js"></script>-->
  {% block scripts%}

  {% endblock %}

  <script>
    $(document).ready(function() {
        //consider putting sse and other load stuff here
      } );

      //show alert when called
      function show_alert(msg) {
        $('.alert .alertmessage').text(msg);
        $('.alert').show();
      }

      //hide alert when the close button is clicked
      $('.close').click(function(){
        $('.alert').hide();
      })
  </script>
</body>
</html>