{% extends "layout.html" %}
{% set pagename = "Routers" %}
{% block title %}Routers{% endblock %}

{% block content %}
<h4>Routers</h4>
<div class="row-fluid">
  <div class="span12">
    <div class="well">
      <table id="routers">
        <thead>
          <tr>
            <th>Router IP</th>
            <th>Last Seen</th>
            <th>Flows Per Hour</th>
            <th>Packets Per Hour</th>
            <th>Bytes Per Hour</th>
            <th>Progress</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="static/js/routers.js"></script>
{% endblock %}