.counter{ text-align: center }
.container-fluid{ height:2px }
.alert { display: none; }


.navbar-inner {
	background-color: #383838;
	background-image: none;
}

.navbar .nav > li > a {
	text-shadow: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	color:#ffffff;
}

.navbar .nav > li > a {
	color:#B8B8B8;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
	color:#ffffff;
	background-color:#383838;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

div.innerDetails { display: none }